@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.body {
    background-color: #494D5F;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    background-color: #494D5F !important;
    color: white !important;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.navbar-brand {
    color: white !important;
}
.navbar-nav .nav-link {
    color: white !important;
    font-weight: 500;
    margin: 0 20px;
}
.image1 {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%; 
    overflow: hidden;
    padding: 5px;
    margin-top: 20px;
}
.photo-index {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}

.container {
    padding: 20px 50px;
}

.row {
    padding: 10px 0; 
}

.text-center {
    text-align: center;
}
.custom-yellow-section {
    background-color: #636882 !important;
    width: 1200px;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    padding-bottom: 3rem !important;
    margin-bottom: 4rem !important;
    border-radius: .75rem !important;
}
.btn-light .bx {
    margin-right: 5px;
    vertical-align: middle;
}